<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
<meta name="google-site-verification" content="SyEmOFf3goqTwI4GHr-V8R0uAGPPSc_lH3cBOBWDwYo" />
<script type="text/javascript" src="Scrypts/myscrypt.js"></script>
</head>
<body>

    <header class="header-out" >
       <div class="para"> <p >Blogging as a developer, done right!</p></div>
        <div class="button">
        <div class="login"><a href="/login"><span>Login</span></a></div>
        <div class="create-account"><a class="l2" href="/Signup"><span>Create an account </span></a></div>
    </div>
    </header>
    <div class="space" id="upp"></div>
    <a href="#upp">
    <div class="advertisement hide" id="advertisement" ><img src="img/keyboard_arrow_up_white_24dp.svg" class ="up" alt="imgg"></div></a>

   <div class="intro" > <h1 class="intro-text">Everything you need to start <br>blogging as a developer!</h1></div>
   <div class="intro"> <h1 class="intro-text1">Own your content, share ideas, and<br>
    connect with the global dev community!</h1></div>
    <div class="get-started"><a class="get" href="#whatwhy"><span class="get1">Know More</span></a></div>
    <div class="info">
       <div class="info1">
          <div> <img src="img/new blog.png" alt="new blog" ></div>
          <div class="imgd">   <h3>Start a developer blog</h3></div>
       </div>
       <div class="info1">
        <div>   <img src="img/custom.png" alt="new blog"></div>
        <div class="imgd"><h3>Map your custom domain</h3></div>
    </div>
    <div class="info1">
      <div>  <img src="img/community.png" alt="new blog"></div>
      <div class="imgd"><h3>Connect with community</h3></div>
    </div>
    </div>
    <div class="ahr"></div>

    <div class="what-why" id="whatwhy">
        <div class="what">
            <h1 class="texty1">What 👀</h1>
            <br>
            <h3 class="texty2">Hashnode is a free developer blogging platform that allows you to publish articles on your own domain and helps you stay connected with a global developer community.</h3>
        </div>
        <div class="what">
            <h1 class="texty1">Why? 😍</h1>
            <br>
            <h3 class="texty2">This gives you a huge advantage: Google and other search engines send traffic directly to your domain, and Hashnode community members discover your articles on their feed.</h3>
        </div>
        <div class="ss1">
            <img class="ss1d" src="img/ss1.png" alt="ss1">
        </div>

    </div>

    <div class="ahr"></div>

     <h1 class="head2"> Content Ownership.<br>
        No Ads. No Paywall. No kidding.
        </h1>
    <div class="description">
        <div class="des1">
         <img src="img/ss2.png" alt="ss2" class="dess">
         <h3>Blog on your personal domain</h3>
         <h4>    Map your custom domain in just seconds via our free CNAME pointing feature. Serve your blog over HTTPS with no extra configuration.<br><br>
         Get a high performance, secure, and fully-optimized blog that delights your readers.
        </h4>   </div>

        <div class="des2">
            <img src="img/ss3.png" alt="ss2" class="dess">
            <h3>Instantly find your audience</h3>
          <h4>  Every time you write an article, Hashnode publishes it on your domain and shares it with the community members on the homepage. The readers are directed to your website to read and interact with your content.
        </h4>  </div>

           <div class="des3">
            <img src="img/ss4.png" alt="ss2" class="dess">
            <h3>No annoying pop-ups/ads</h3>
          <h4>
            Knowledge sharing on Hashnode is and will always be completely free.
            <br><br>
            Because we value the relationship between you and your readers, we won’t show ads or pop-ups on your articles.
          </h4>
           </div>

    </div>
    <div class="space"></div>

    <div class="intro"> <h1 class="intro-text">Start blogging with Hashnode,<br>it's Free!</h1></div>
    <div class="intro"> <h1 class="intro-text1">Don't miss out.</h1></div>
            <div class="get-started"><a class="get" href="#whatwhy"><span class="get1">Get Started   </span></a></div>
            <div class="space"></div>
            <hr>
  <div class="foot">

      <div class="left">

          <h1 class="outro">Blogger</h1>
          <h4>
            A blogging platform built for developers by developers. Blog on personal domain, share ideas, and connect with the global dev community!
          </h4>
      </div>
      <div class= "right">
          <img src="img/Screenshot (549).png" alt="" class="last">
      </div>
</div>
<footer>
    <div class="social">
     <div class="iconic"> <img src="https://image.flaticon.com/icons/png/512/1384/1384031.png" alt="" class="socialmed"></div>
       <div class="iconic"> <img src="https://img-premium.flaticon.com/png/512/739/premium/739237.png?token=exp=1627489827~hmac=cfadaa5034bbae2210221d45f80a1d5e" alt="" class="socialmed"></div>
       <div class="iconic"><img src="https://image.flaticon.com/icons/png/512/1384/1384030.png" alt="" class="socialmed"></div>
       <div class="iconic"><img src="https://img-premium.flaticon.com/png/512/739/premium/739257.png?token=exp=1627490051~hmac=3f2b2f2cb5d0d732513934f6e66dd955" alt="" class="socialmed"></div>
        <div class="iconic"><img src="https://image.flaticon.com/icons/png/512/1051/1051326.png" alt="" class="socialmed"></div>
    </div>
    <div class="text-bottom">
        <div class="bot"><h4 class="bot1">Home |</h4></div>
        <div class="bot"><h4 class="bot1">Help |</h4></div>
        <div class="bot"><h4 class="bot1">Contact |</h4></div>
        <div class="bot"><h4 class="bot1">Feed |</h4></div>
        <div class="bot"><h4 class="bot1">Support</h4></div>
    </div>
    <div class="copy">
        <div class="com">
           <h4 class="company"> &copy;Sudhanshu Ranjan</h4>
        </div>
        <div class ="priv">
            <div class="privacy1"><a href="#" class="privacy">Terms</a></div>
            <div class="privacy1"><a href="#" class="privacy">Privacy Policy</a></div>

        </div>
    </div>

</footer>


</body>
</html>
