<%- include('partials/header') -%>

        <div class="container">
            <div class= "img">
            <img src="https://app.svgator.com/assets/svgator.webapp/log-in-girl.svg" alt="img" class="animation"></div>
            <div class="login">
                <h1>Sign-up</h1>
                <h3 class="login-to-contine">Create account to continue</h3>
                <form action="">
                    <label for="name" class="name-head">Name</label><br>
                    <input type="name" placeholder="Enter your name" id="name1" name="name"><br>
                    <label for="email" class="email-head">E-mail</label><br>
                    <input type="email" placeholder="Enter your email Id" id="email" name="email"><br>
                    <label for="password" class="password-head">Password</label><br>
                    <input type="password" class="password" id="password" name="password" placeholder="Enter password"><br>

                    <button>Create Account</button>
                     </form>
                    <h3 class="or-login-with">Or <br>Login With</h3>
                    <div class="icons">
                      <a href="/auth/google" role="button">
                    <div class="fb"><img src="img/google.png" alt=""></div>
                  </a>
                    <a href="/auth/facebook" role="button">
                    <div class="twitter"><img src="img/fb.png" alt=""></div>
                        </a>
                      <a href="/auth/github" role="button">
                    <div class="google"><img src="img/github.png" alt=""></div>
                    </a>
                    </div>
                    <h3 class="have-a-account">Already have account? <a href="/login" class="have-acc">Login</a></h3>
                </div>
            </div>

        <script src="" async defer></script>
        
<%- include('partials/footer') -%>
